/* FOOTER */
.footer .contain {
    display: flex;
    padding: 3% 10%;
    color: gray;
    font-size: 1.5rem;
    background-color: #24272d;
    justify-content: space-between;
}

.fab {
    margin: 0 10px;
    transition-duration: 0.5s;
}
.fab:hover {
    color: white;
}

@media(max-width: 698px) {

}

/* FOOTER2 */
.footer2 .contain {
    padding: 2% 10%;
    color: #5a5d62;
    background-color: #2b2e35;
    display: flex;
    justify-content: space-between;
}

.footer2 p {
    display: inline;
}

.footer2 div {
    color: white;
    display: inline;
}

.footer2 a {
    color: white;
    transition-duration: 0.5s;
}
.footer2 span {
    margin: 0 10px;
}

a:hover {
    color: gray;
}